<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"article","className":"static"} -->
<article class="wp-block-group static">
    <!-- wp:group {"align":"wide","className":"title","layout":{"inherit":true}} -->
    <div class="wp-block-group alignwide title">
        <!-- wp:post-title {"level":1,"align":"wide"} /-->
    </div>
    <!-- /wp:group -->
        
    <!-- wp:post-content {"layout":{"inherit":true}} /-->
    
</article>
<!-- /wp:group -->
    
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
    